body{
	width: 100%;
	background: #eeeeee;
	
}
.content{
	background: #ffffff;
	overflow: hidden;
	padding: 0.06rem 0.3rem 0.15rem;
	border-top:1px solid  #dcdcdc;
	border-bottom:1px solid  #dcdcdc;
	margin-top: 0.2rem;
}
.content_top{
	overflow: hidden;
	padding: 0.2rem 0;
}
.ct_left{
	width: 50%;
	float: left;
	background: url("../images/ct_left.png") left center no-repeat;
	background-size: 0.8rem;
	line-height: 0.8rem;
	font-size: 0.3rem;
	padding-left: 1rem;
}
.ct_right{
	width: 50%;
	float: left;
	background: url("../images/arrow.png") right center no-repeat;
	background-size: 0.18rem;
	line-height: 0.8rem;
	font-size: 0.3rem;
	padding-right: 0.4rem;
	text-align: right;
}
.ct_right a{
	width: 100%;
	height: 100%;
	display: inline-block;
	color: #666666;
}
.issue{
	width: 3.4rem;
	height: 1.56rem;
	float: left;
	background: #f9f9f9;
	border: 1px solid #dcdcdc;
	padding: 0 0.25rem;
	vertical-align: middle;
	border-radius: 0.1rem;
	-webkit-border-radius: 0.1rem;
	-moz-border-radius: 0.1rem;	
	-ms-border-radius: 0.1rem;
	-o-border-radius: 0.1rem;
	margin-bottom: 0.12rem;
	
}
.issue a{
	width: 100%;
	height: 100%;
	display: inline-block;
	color: #333333;
	font-size: 0.26rem;
}
.issue_r{
	float: right;
}
.item{
	width: 100%;
	height: 1rem;
	background: #ffffff;
	border-top:1px solid  #dcdcdc;
	border-bottom:1px solid  #dcdcdc;
	margin: 0.2rem 0;
	padding: 0 0.3rem;
}
.item_left{
	width: 50%;
	float: left;
	background: url("../images/tel.png") 0.14rem center no-repeat;
	background-size: 0.38rem;
	line-height: 1rem;
	font-size: 0.3rem;
	padding-left: 0.7rem;
}
.item_right{
	width: 50%;
	float: left;
	background: url("../images/arrow.png") right center no-repeat;
	background-size: 0.18rem;
	line-height: 1rem;
	font-size: 0.3rem;
	padding-right: 0.4rem;
	text-align: right;
}
.item_right a{
	width: 100%;
	height: 100%;
	display: inline-block;
	color: #666666;
}
