body, p {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, STHeiti, sans-serif;
    font-size: 14px;
    background: url(../image/bg_prize.jpg) no-repeat;
 }

ul, li {
    list-style: none;
}

img {
    border: 0;
}

p {
    line-height: 1.4;
}

.bg_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.title_myprize {
    width: 100%;
    margin: 4% 0 2% 0;
    text-align: center;
}

.title_myprize img {
    width: 22%;
}

.my_prize {
    width: 100%;
    position: relative;
}

.my_prize img {
    width: 16%;
    position: absolute;
    left: 8%;
}

.my_prize p {
    padding: 6% 0 0 30%;
}

.my_notice {
    margin-top: 9%;
}

.my_notice p {
    padding: 0 8%;
    color: #5d3402;
}

.prize_intro {
    padding: 4% 8%;
}

.prize_intro p:first-child {
    font-size: 16px;
}

.prize_intro p:last-child {
    color: #5d3402;
    padding-top: 2%;
}

.btn_my {
    width: 100%;
    text-align: right;
}

.btn_my img {
    width: 30%;
    margin-right: 6%;
}

.txt_exchange {
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

.txt_exchange img {
    width: 22%;
    margin-bottom: 5%;
}

.exchange_prize {
    /*width: 100%;*/
    padding: 0 8%;
    position: relative;
}

.prize {
    margin-bottom: 20%;
}

.prize img:first-child {
    position: absolute;
    width: 20%;
}

.prize p {
    padding-left: 30%;
}

.prize img:last-child {
    position: absolute;
    right: 6%;
    width: 22%;
    margin-top: 2%;
}
