body, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 800px;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, STHeiti, sans-serif;
    font-size: 14px;
    background: url(../image/bg_prize.jpg) no-repeat;
    background-size: 100% 100%;
}

ul, li {
    list-style-type: none;
}

img {
    border: 0;
}

header p {
    width: 100%;
    text-align: center;
    padding: 5% 0;
    font-size: 16px;
    color: #744812;
}

.help_list {
    width: 100%;
}

.help_list ul li {
    height: 80px;
}

.help_list ul li img {
    position: absolute;
    width: 15%;
    left: 8%;
}

.help_list ul li p {
    display: inline-block;
    padding: 3% 10% 5% 30%;
    line-height: 1.4;
}

.btn_back img {
    width: 30%;
    float: right;
    margin-right: 6%;
}